.block_1 {
    height: 60vh;
    min-height: 500px;
    max-height: 540px;
}
.block_text {
    text-align: left;
    font-family: $first-font;
    h1 {
        @extend %h1-style;
    }
    span {
        @extend %span-style;
    }
    p {
        @extend %p-style;
    }
    a {
        @extend %a-style;
    }
}
.bg-line {
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        right: 23%;
        z-index: -1;
        height: 100%;
        width: 54%;
        background-color: $second-color;
    }
    img {
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        width: 100%;
    }
}
.block_2 {
    background-color: $third-color;
    .row {
         height: 85vh;
         min-height: 650px;
         max-height: 690px;
    }
    img {
        width: 92%;
    }
}
.contact_now {
    background-color: $first-color;
    .row {
        height: 10vh;
        min-height: 67px;
        max-height: 90px;
    }
    span {
        font-family: $first-font;
        font-size: 1.1em;
    }
    a {
        font-family: $first-font;
        font-weight: 700;
        text-transform: uppercase;
        color: $first-color;
        display: inline-block;
        background-color: $second-color;
        border-radius: 3px;
        padding: 0.7em 0.8em;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        transition: .2s;
        &:hover {
            text-decoration: none;
            background-color: #e2cc23;
        }
    }
}