footer {
    background-color: $first-color;
    .row {
        height: 10vh;
        min-height: 67px;
        max-height: 90px;
    }
}
.copyright {
    font-family: $first-font;
    font-weight: 400;
    font-size: 0.9em;
    a {
        text-decoration: none;
        color: $second-color;
        &:hover {
            text-decoration: none;
            color: #e2cc23;
        }
    }
}
.resource {
    text-align: right;
    font-size: 1em;
    a {
        margin: 0 0.5vw;
        color: #fff;
        &:hover {
            color: $second-color;
        }
    }
}