header {
    background-image: url(../img/building.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 760px;
    max-height: 900px;
    overflow: hidden;
}
.logo img {
    width: 100%;
    max-width: 178px;
    user-select: none;
    margin-top: 5.5vh;
    cursor: pointer;
}
nav {
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
    a {
        display: block;
        text-decoration: none;
        font-size: 0.9em;
        margin: 8vh 1vw;
        font-family: $first-font;
        text-transform: uppercase;
        font-weight: 700;
        color: $nav-text-color;
        &:hover {
            text-decoration: none;
            color: lighten($nav-text-color, 50%);
        }
    }
}
.language {
    cursor: pointer;
}
.fa-caret-down {
    padding: 10px;
    color: #fff;
}
label[for="lang"] {
    margin: 5vh 0 5vh 0.5vw;
    display: block;
}
label.langMenu + ul {
    display: none;
    max-height: 0;
    padding: 0;
    transition: 1s;
}
input[id="lang"] {
    display: none;
}
.lang {
    display: block;
    
}
input.langMenu:checked ~ ul {
    display: block;
    position: absolute;
    top: 65%;
    right: -0.7%;
    z-index: 1;
    a {
        padding: 10px;
        margin: 0;
        &:before {
            content: '';
            height: 31px;
            width: 31px;
            box-sizing: content-box;
            padding-right: 5px;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/english.png);
            background-repeat: no-repeat;
            
        }
    }
}
.btn-prev-next {
    height: 80vh;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8em;
    color: $second-color;
    font-family: $first-font;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    i {
        font-size: 1.65em;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            color: darken($second-color, 20%);
        }
        &:active {
            transform: scale(0.95);
        }
    }
}
.slideshow {
    user-select: none;
}
.slide_1 {
    margin-top: 16vh;
    margin-left: 16vw;
    position: relative;
    right: 0;
    span,a {
        position: absolute;
        font-family: $first-font;
        font-weight: 700;
    }
    img {
        max-width: 300px;
        width: 100%;
    }
    span {
        width: 250px;
        text-align: right;
        right: 82%;
        top: 20.5%;
        font-size: 2.7em;
        line-height: 135%;
    }
    a {
        right: 73%;
        top: 71%;
        color: $second-color;
        font-size: 1.4em;
        text-decoration: underline;
        text-transform: uppercase;
        &:hover {
            color: darken($second-color, 20%);
        }
        &:active {
            transform: scale(0.95);
        }
    }
}
.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  }
  @keyframes fadeInRight {
  0% {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  }
  100% {
  opacity: 1;
  transform: none;
  }
} 