@media (max-width: 575.98px) {
    html {
        font-size: 13px;
    }
    .container {
        overflow: hidden;
    }
    .logo img {
        margin-top: 6.5vh;
    }
    .nav_lg {
        display: none;
    }
    .btn-prev-next {
        display: none;
    }
    .slide_1 {
    span {
        width: 250px;
        text-align: right;
        right: 82%;
        top: 20.5%;
        font-size: 2.1em;
        line-height: 135%;
        }
    }
    .contact_now {
    span {
        font-size: 0.7em;
        margin-left: 15px;
    }
    a {
        font-size: 0.9em;
        margin: 0 15px;
        padding: 0.7em 0.8em;
    }
    }
    input[id="nav_min"] {
        display: none;
    }
    /////////////////////btn//////////////////
    .menu-btn {
        margin: 5vh 0 5vh 0.5vw;
        display: block;
        height: 30px;
        width: 48px;
        position: relative;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 9999;
        
    }
    .menu-btn span::before,
    .menu-btn span::after,
    .menu-btn span {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: $nav-text-color;
    }
    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        transition: .3s;
    }
    .menu-btn span::before {
	transform: translateY(-5px);
    }
    .menu-btn span::after {
        transform: translateY(5px);
    }
    /////////////////btn-anim//////
    .menu-btn_active span{
	height: 0;
    }
    .menu-btn_active span::before {
        transform: rotate(45deg);
    }
    .menu-btn_active span::after {
        transform: rotate(-45deg);
    }
    /////////////////////
    .nav_min {
        position: fixed;
        right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        z-index: 10;
        transition: all .5s;
        transform: translateX(100%);
    }
    .nav_min_active {
        transform: translateX(0);
    }
    .menu_list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        flex-direction: column;
        a {
            margin: 0;
            color: $first-color;
            &:hover {
                color: $first-color;
            }
        }
    }
    header {
        height: 100vh;
        min-height: auto;
        max-height: auto;
    }
    .block_1 {
        min-height: 650px;
        max-height: 670px;
    }
    .block_2 {
        .row {
            min-height: 800px;
            max-height: 850px;
        }
    }
    .block_3 {
        min-height: 1200px;
        max-height: 1250px;
    }
    .info_block {
        .row {
            min-height: 150px;
            max-height: 160px;
        }
    }
    .bg-line {
        height: auto;
        &::before {
        display: none;
        }
    }
    .video {
        min-height: 800px;
        max-height: 800px;
         iframe {
        height: 200px;
        }
    }
    .testimonials {
        .row {
            min-height: 470px;
            max-height: 500px;
        }
    }
    .contact {
        min-height: 1700px;
        max-height: 1800px;
    }
    .card_map {
        max-height: 400px;
        min-height: 380px;
    }
    .copyright {
        margin-left: 15px;
    }
    .resource  {
        margin-right: 15px;
    }
 }

// Малые девайсы («ландшафтные», >= 575px)
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 13px;
    }
    .nav_lg {
        display: none;
    }
    .btn-prev-next {
        display: none;
    }
    input[id="nav_min"] {
        display: none;
    }
    /////////////////////btn//////////////////
    .menu-btn {
        margin: 5vh 0 5vh 0.5vw;
        display: block;
        height: 30px;
        width: 48px;
        position: relative;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 9999;
        
    }
    .menu-btn span::before,
    .menu-btn span::after,
    .menu-btn span {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: $nav-text-color;
    }
    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        transition: .3s;
    }
    .menu-btn span::before {
	transform: translateY(-5px);
    }
    .menu-btn span::after {
        transform: translateY(5px);
    }
    /////////////////btn-anim//////
    .menu-btn_active span{
	height: 0;
    }
    .menu-btn_active span::before {
        transform: rotate(45deg);
    }
    .menu-btn_active span::after {
        transform: rotate(-45deg);
    }
    /////////////////////
    .nav_min {
        position: fixed;
        right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        z-index: 10;
        transition: all .5s;
        transform: translateX(100%);
    }
    .nav_min_active {
        transform: translateX(0);
    }
    .menu_list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        flex-direction: column;
        a {
            margin: 0;
            color: $first-color;
            &:hover {
                color: $first-color;
            }
        }
    }
    header {
        min-height: 630px;
        max-height: 690px;
    }
    .block_1 {
        min-height: 650px;
        max-height: 670px;
    }
    .block_2 {
        .row {
            min-height: 800px;
            max-height: 850px;
        }
    }
    .block_3 {
        min-height: 1200px;
        max-height: 1250px;
    }
    .info_block {
        .row {
            min-height: 150px;
            max-height: 160px;
        }
    }
    .bg-line {
        height: auto;
        &::before {
        display: none;
        }
    }
    .video {
        min-height: 800px;
        max-height: 800px;
    }
    .testimonials {
        .row {
            min-height: 370px;
            max-height: 420px;
        }
    }
    .contact {
        min-height: 1700px;
        max-height: 1800px;
    }
    .card_map {
        max-height: 400px;
        min-height: 380px;
    }
 }

// Средние девайсы («таблетки», >= 768px) 
@media (min-width: 768px) and (max-width: 991.98px) { 
    html {
        font-size: 13px;
    }
    header {
        min-height: 670px;
        max-height: 760px;
    }
    .logo img {
        margin-top: 6.5vh;
    }
    .menu_min_wrapper {
        display: none;
    }
    .slide_1 {
        img {
            max-width: 263px;
        }
    }
    .block_1 {
        min-height: 390px;
        max-height: 450px;
    }
    .block_2 {
        .row {
            min-height: 500px;
            max-height: 550px;
        }
    }
    .block_3 {
        min-height: 490px;
        max-height: 560px;
    }
    .info_block {
        .row {
            min-height: 180px;
            max-height: 205px;
        }
    }
    .video {
        min-height: 440px;
        max-height: 500px;
        iframe {
        height: 250px;
        }
    }
    .testimonials {
        .row {
            min-height: 370px;
            max-height: 430px;
        }
    }
    .contact {
        min-height: 600px;
        max-height: 650px;
    }
    .card_map {
            max-height: 350px;
            min-height: 300px;
    }
}
// Большие девайсы (большие десктопы, >= 992px)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .menu_min_wrapper {
        display: none;
    }
    .card_map {
        max-height: 400px;
        min-height: 300px;
 }
}

// Большие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) { 
    .menu_min_wrapper {
        display: none;
    }
}