@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  font-size: 15px; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #fff; }

.container {
  padding: 0 !important; }

.block_text h1 {
  color: #002e5b;
  max-width: 450px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.9em; }

.block_text span, .title_text p {
  color: #666666;
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  margin: 2vh 0;
  max-width: 500px; }

.block_text p {
  color: #333333;
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 4vh; }

.block_text a {
  color: #002e5b;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1em; }
  .block_text a:hover {
    color: #0055a8; }

header {
  background-image: url(../img/building.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 760px;
  max-height: 900px;
  overflow: hidden; }

.logo img {
  width: 100%;
  max-width: 178px;
  user-select: none;
  margin-top: 5.5vh;
  cursor: pointer; }

nav {
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end; }
  nav a {
    display: block;
    text-decoration: none;
    font-size: 0.9em;
    margin: 8vh 1vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #cdd2d7; }
    nav a:hover {
      text-decoration: none;
      color: white; }

.language {
  cursor: pointer; }

.fa-caret-down {
  padding: 10px;
  color: #fff; }

label[for="lang"] {
  margin: 5vh 0 5vh 0.5vw;
  display: block; }

label.langMenu + ul {
  display: none;
  max-height: 0;
  padding: 0;
  transition: 1s; }

input[id="lang"] {
  display: none; }

.lang {
  display: block; }

input.langMenu:checked ~ ul {
  display: block;
  position: absolute;
  top: 65%;
  right: -0.7%;
  z-index: 1; }
  input.langMenu:checked ~ ul a {
    padding: 10px;
    margin: 0; }
    input.langMenu:checked ~ ul a:before {
      content: '';
      height: 31px;
      width: 31px;
      box-sizing: content-box;
      padding-right: 5px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(../img/english.png);
      background-repeat: no-repeat; }

.btn-prev-next {
  height: 80vh;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8em;
  color: #fde52c;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10; }
  .btn-prev-next i {
    font-size: 1.65em;
    padding: 0 10px;
    cursor: pointer; }
    .btn-prev-next i:hover {
      color: #c1ab02; }
    .btn-prev-next i:active {
      transform: scale(0.95); }

.slideshow {
  user-select: none; }

.slide_1 {
  margin-top: 16vh;
  margin-left: 16vw;
  position: relative;
  right: 0; }
  .slide_1 span, .slide_1 a {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  .slide_1 img {
    max-width: 300px;
    width: 100%; }
  .slide_1 span {
    width: 250px;
    text-align: right;
    right: 82%;
    top: 20.5%;
    font-size: 2.7em;
    line-height: 135%; }
  .slide_1 a {
    right: 73%;
    top: 71%;
    color: #fde52c;
    font-size: 1.4em;
    text-decoration: underline;
    text-transform: uppercase; }
    .slide_1 a:hover {
      color: #c1ab02; }
    .slide_1 a:active {
      transform: scale(0.95); }

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

.block_1 {
  height: 60vh;
  min-height: 500px;
  max-height: 540px; }

.block_text {
  text-align: left;
  font-family: "Montserrat", sans-serif; }

.bg-line {
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; }
  .bg-line::before {
    content: '';
    position: absolute;
    right: 23%;
    z-index: -1;
    height: 100%;
    width: 54%;
    background-color: #fde52c; }
  .bg-line img {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    width: 100%; }

.block_2 {
  background-color: #f4f4f4; }
  .block_2 .row {
    height: 85vh;
    min-height: 650px;
    max-height: 690px; }
  .block_2 img {
    width: 92%; }

.contact_now {
  background-color: #002e5b; }
  .contact_now .row {
    height: 10vh;
    min-height: 67px;
    max-height: 90px; }
  .contact_now span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em; }
  .contact_now a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #002e5b;
    display: inline-block;
    background-color: #fde52c;
    border-radius: 3px;
    padding: 0.7em 0.8em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: .2s; }
    .contact_now a:hover {
      text-decoration: none;
      background-color: #e2cc23; }

.block_3 {
  height: 75vh;
  min-height: 576px;
  max-height: 700px; }

.title_text {
  font-family: "Montserrat", sans-serif;
  text-align: center; }
  .title_text h1 {
    margin-top: 10vh;
    color: #002e5b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9em; }
  .title_text p {
    max-width: 530px; }

.img-block {
  width: 100%; }

.img-text {
  text-align: left;
  font-family: "Montserrat", sans-serif; }
  .img-text h2 {
    margin: 2.4vh 0;
    color: #002e5b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em; }
  .img-text p {
    color: #333333;
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 4vh;
    line-height: 180%; }

.info_block {
  background-color: #002e5b; }
  .info_block .row {
    height: 30vh;
    min-height: 210px;
    max-height: 240px; }

.video {
  height: 65vh;
  min-height: 450px;
  max-height: 570px; }

.testimonials {
  background-color: #002e5b; }
  .testimonials .row {
    height: 65vh;
    min-height: 430px;
    max-height: 470px;
    text-align: center;
    font-family: "Lato", sans-serif; }
  .testimonials h1 {
    font-size: 5em;
    line-height: 50%; }
  .testimonials p {
    font-size: 1.3em;
    line-height: 180%; }
  .testimonials span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: block;
    margin-top: 10vh; }
    .testimonials span::before, .testimonials span::after {
      content: '';
      display: inline-block;
      z-index: 10;
      width: 20px;
      height: 2px;
      background-color: #ffffff;
      margin: 0 0.5vw;
      vertical-align: middle; }

.contact {
  height: 100vh;
  min-height: 750px;
  max-height: 900px; }
  .contact .row {
    width: 100%; }

.card_map {
  min-width: 100%;
  height: 460px;
  margin-bottom: 10vh;
  margin-top: 5vh;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07); }

.map {
  height: 50%;
  width: 100%; }

.map_contact {
  height: 50%;
  width: 100%;
  text-align: left;
  color: #002e5b;
  box-sizing: border-box;
  padding: 10%; }
  .map_contact h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700; }
  .map_contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em; }
    .map_contact ul li {
      padding: 2% 0; }
    .map_contact ul i {
      vertical-align: top;
      padding: 2% 7% 3% 1%;
      float: left; }

.fa-envelope {
  padding: 2% 6% 3% 0% !important; }

footer {
  background-color: #002e5b; }
  footer .row {
    height: 10vh;
    min-height: 67px;
    max-height: 90px; }

.copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9em; }
  .copyright a {
    text-decoration: none;
    color: #fde52c; }
    .copyright a:hover {
      text-decoration: none;
      color: #e2cc23; }

.resource {
  text-align: right;
  font-size: 1em; }
  .resource a {
    margin: 0 0.5vw;
    color: #fff; }
    .resource a:hover {
      color: #fde52c; }

@media (max-width: 575.98px) {
  html {
    font-size: 13px; }
  .container {
    overflow: hidden; }
  .logo img {
    margin-top: 6.5vh; }
  .nav_lg {
    display: none; }
  .btn-prev-next {
    display: none; }
  .slide_1 span {
    width: 250px;
    text-align: right;
    right: 82%;
    top: 20.5%;
    font-size: 2.1em;
    line-height: 135%; }
  .contact_now span {
    font-size: 0.7em;
    margin-left: 15px; }
  .contact_now a {
    font-size: 0.9em;
    margin: 0 15px;
    padding: 0.7em 0.8em; }
  input[id="nav_min"] {
    display: none; }
  .menu-btn {
    margin: 5vh 0 5vh 0.5vw;
    display: block;
    height: 30px;
    width: 48px;
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999; }
  .menu-btn span::before,
  .menu-btn span::after,
  .menu-btn span {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #cdd2d7; }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    transition: .3s; }
  .menu-btn span::before {
    transform: translateY(-5px); }
  .menu-btn span::after {
    transform: translateY(5px); }
  .menu-btn_active span {
    height: 0; }
  .menu-btn_active span::before {
    transform: rotate(45deg); }
  .menu-btn_active span::after {
    transform: rotate(-45deg); }
  .nav_min {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
    transition: all .5s;
    transform: translateX(100%); }
  .nav_min_active {
    transform: translateX(0); }
  .menu_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    flex-direction: column; }
    .menu_list a {
      margin: 0;
      color: #002e5b; }
      .menu_list a:hover {
        color: #002e5b; }
  header {
    height: 100vh;
    min-height: auto;
    max-height: auto; }
  .block_1 {
    min-height: 650px;
    max-height: 670px; }
  .block_2 .row {
    min-height: 800px;
    max-height: 850px; }
  .block_3 {
    min-height: 1200px;
    max-height: 1250px; }
  .info_block .row {
    min-height: 150px;
    max-height: 160px; }
  .bg-line {
    height: auto; }
    .bg-line::before {
      display: none; }
  .video {
    min-height: 800px;
    max-height: 800px; }
    .video iframe {
      height: 200px; }
  .testimonials .row {
    min-height: 470px;
    max-height: 500px; }
  .contact {
    min-height: 1700px;
    max-height: 1800px; }
  .card_map {
    max-height: 400px;
    min-height: 380px; }
  .copyright {
    margin-left: 15px; }
  .resource {
    margin-right: 15px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 13px; }
  .nav_lg {
    display: none; }
  .btn-prev-next {
    display: none; }
  input[id="nav_min"] {
    display: none; }
  .menu-btn {
    margin: 5vh 0 5vh 0.5vw;
    display: block;
    height: 30px;
    width: 48px;
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999; }
  .menu-btn span::before,
  .menu-btn span::after,
  .menu-btn span {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #cdd2d7; }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    transition: .3s; }
  .menu-btn span::before {
    transform: translateY(-5px); }
  .menu-btn span::after {
    transform: translateY(5px); }
  .menu-btn_active span {
    height: 0; }
  .menu-btn_active span::before {
    transform: rotate(45deg); }
  .menu-btn_active span::after {
    transform: rotate(-45deg); }
  .nav_min {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
    transition: all .5s;
    transform: translateX(100%); }
  .nav_min_active {
    transform: translateX(0); }
  .menu_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    flex-direction: column; }
    .menu_list a {
      margin: 0;
      color: #002e5b; }
      .menu_list a:hover {
        color: #002e5b; }
  header {
    min-height: 630px;
    max-height: 690px; }
  .block_1 {
    min-height: 650px;
    max-height: 670px; }
  .block_2 .row {
    min-height: 800px;
    max-height: 850px; }
  .block_3 {
    min-height: 1200px;
    max-height: 1250px; }
  .info_block .row {
    min-height: 150px;
    max-height: 160px; }
  .bg-line {
    height: auto; }
    .bg-line::before {
      display: none; }
  .video {
    min-height: 800px;
    max-height: 800px; }
  .testimonials .row {
    min-height: 370px;
    max-height: 420px; }
  .contact {
    min-height: 1700px;
    max-height: 1800px; }
  .card_map {
    max-height: 400px;
    min-height: 380px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 13px; }
  header {
    min-height: 670px;
    max-height: 760px; }
  .logo img {
    margin-top: 6.5vh; }
  .menu_min_wrapper {
    display: none; }
  .slide_1 img {
    max-width: 263px; }
  .block_1 {
    min-height: 390px;
    max-height: 450px; }
  .block_2 .row {
    min-height: 500px;
    max-height: 550px; }
  .block_3 {
    min-height: 490px;
    max-height: 560px; }
  .info_block .row {
    min-height: 180px;
    max-height: 205px; }
  .video {
    min-height: 440px;
    max-height: 500px; }
    .video iframe {
      height: 250px; }
  .testimonials .row {
    min-height: 370px;
    max-height: 430px; }
  .contact {
    min-height: 600px;
    max-height: 650px; }
  .card_map {
    max-height: 350px;
    min-height: 300px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .menu_min_wrapper {
    display: none; }
  .card_map {
    max-height: 400px;
    min-height: 300px; } }

@media (min-width: 1200px) {
  .menu_min_wrapper {
    display: none; } }
